.show-box{
  background-color:#50b6bb;
  width:100%;
  min-height:15vh;
  display:flex;
  justify-content:flex-start;
/*   p {
    margin:10px 5px 5px 5px;
    color:#303740;
    font-weight:600;
  } */
}
#show-image{
  width:100px;
  height:1
}
