*{
  box-sizing:border-box;
  
}
@mixin flex-column {
  display:flex;
  flex-direction:column;
}
$ticket-height: 240px;
$ticket-width-1: 450px;
$color1: #45969b;
$shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
$line-width:30px;

#cart {
  background-color:#f8f8f8; 
  min-height:100vh;
  width:100%;
  min-width:500px;
  @include flex-column;
/*   border:2px solid red; */
}

.ticket-box {
  margin-top:20px;
  width:100%;
  padding:40px;
  h1 {
    width:fit-content;
    margin:10px 0 50px 30px;
    padding:0;
  }
  ul {
    padding:0;
    margin:0 0 30px 0;
    width:100%;
    @include flex-column;
    &::after{
      content:"";
      display:block;
      width:100%;
      height:2px;
      background-color:$color1;
    }
  }
  li {
    border:1px solid red;
    margin:0 0 30px 0;
    padding:20px 20px 20px 20px;
    width:100%;
    height:calc($ticket-height + 60px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
  }
  span {
   margin-left:45%;
  }
  
}
.ticket{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  box-shadow:$shadow;
  border:2px solid black;
  position:relative;
  overflow:hidden;
}
.ticket-main{
  border-right:none;
  width:$ticket-width-1;
  min-height:$ticket-height;
  padding:10px;
  &::after{
    content:"";
    width:$ticket-width-1;
    height:$line-width;
    background-color:#45969b;
    border-top:#f96d15 $line-width solid;
    border-bottom:#50b6bb $line-width solid;
    opacity:0.7;
    display:block;
    transform: rotate(110deg);
    position:absolute;
    top:50%;
    right:-25px;
  }
  h1, h2, p{
    margin:10px;
    position:relative;
    z-index:2;
  }
}
.ticket-side{
  min-width:$ticket-height;
  height:150px;
  border-top:dashed 2px black;
  transform: rotate(270deg);
  @include flex-column;
  justify-content:center;
  align-items:center;
  margin:0px -35px 0 -35px;
}
.remove{
  height:100%;
  @include flex-column;
  justify-content:center;
  align-items:center;
  button {
      width:150px;
      height:50px;
      background-color:$color1;
      border:none;
      color:white;
      cursor:pointer;
      &:hover {
        background-color:#50b6bb;
      }
  }
}

@media screen and (max-width:800px){
  .remove{
    flex-direction:row;
    justify-content:space-between;
    width:100%;
  }
  .ticket-box{
    li {
      padding:0;
    }
  }
  .ticket{
    width:100%;
    min-width:
  }
}