@mixin flex-colu{
  display:flex;
  flex-direction:column;
}

#cart{
  background-color:red; 
}
#timer{
  background-color:green;
  width"100%;
  height:10vh;
}
.ticket-box{
  
  ul, li{
    margin:0;
    padding:0;
  }
  li{
    width:100%;
    display:flex;
    justify-content:flex-start;
  }
}