$cancel-color:#f96d15;
$pay-color:#45969b;
$border-rounded:4px;

#checkout-box{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  button {
     cursor:pointer;
     background-color:transparent;
     color:$cancel-color;
     border:2px solid $cancel-color;
     border-radius:$border-rounded;
  }
  form {
    width:400px;
    min-width:300px;
    margin-bottom:30px;
    padding:10px 15px 15px 15px;
/*     border:2px solid green; */
    border-radius:$border-rounded;
    display:flex;
    flex-direction:column;
    box-shadow: 0 0 10px #303740;
    button {
      color:$pay-color;
      border:2px solid $pay-color;
      height:28px;
    }
  }
  p{
    width:fit-content;
    margin:10px auto;
  }
}

#checkout-box input,
.StripeElement {
  height: 32px;
  padding: 5px 6px;
  color: #32325d;
  background-color: white;
  border: 2px solid grey;
  border-radius: $border-rounded;
  margin-bottom:20px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}