$set-rows: repeat(16, 30px [row-start]);
$seats-width:900px;
$sides-width: calc((100%-$seats-width)/2);
$price1:#d60f00;
$price2:#00c965;
$price3:#2802bf;

*{
  box-sizing:border-box;
}

#seats-box{
  margin-top:60px;
  display:grid;
  grid-template-columns:16% 65% 16%;
  grid-column-gap:1vw;
}
#rows{
/*   margin-top:30px; */
  display:flex;
  justify-content:flex-end;
  ul {
    height:fit-content;
    background-color:#45969b;
    margin:0 20px 0 0;
    padding:0 10px 0 10px;
    display:grid;
    grid-template-rows: $set-rows;
    grid-row-gap:10px;
    li{
      align-self:center;
      list-style-type:none;
      font-size:18px;
      font-weight:600;
      color:white;
    }
  }
}
#seats{
/*   margin-top:30px; */
  display:grid;
  grid-template-rows: $set-rows;
  grid-template-columns: repeat(20, auto [col-start]);
  grid-row-gap:10px;
}
#show{
/*   margin-top:20px; */
}
.check-box{
  align-self:center;
      
/*   position:relative; */
/*   left:-11px;
  top:29px; */
  background-color:transparent;
  width:30px;
  height:30px;
  border:2px solid gray;
  border-radius:5px;
  cursor:pointer;
  outline:none;
  -webkit-appearance: none;
  &:hover {
    border-color:green;
  }
  &:checked {
    background-color:green;
  }
  &:disabled {
    background-color:gray;
    pointer-events:none;
  }
}
/* .check-price1:hover{
  border-color:$price1;
}
.check-price2:hover{
  border-color:$price2;
}
.check-price3:hover{
  border-color:$price3;
} */
.seat-label{
  font-size:14px;
  margin-left:0px;
  width:25px;
  height:22px;
  font-weight:bold;
}
