/* $set-rows: repeat(8, 30px [row-start]);
$seat-width:30px;
$number-of-seats:20;
$pop-up-color:#303740;
$row-gap:15px;

*{
  box-sizing:border-box;
}

#seats-box{
  margin:30px auto;
  display:grid;
  width:fit-content;
  grid-template-columns:120px 1fr 20px;
}
#rows{
  pointer-events:none;
  display:flex;
  justify-content:flex-end;
  ul {
    height:fit-content;
    margin:0 20px 0 0;
    padding:0 10px 0 10px;
    display:grid;
    grid-template-rows: $set-rows;
    grid-row-gap:$row-gap;
    li {
      align-self:center;
      list-style-type:none;
      font-size:18px;
      font-weight:600;
      color:#45969b;
    }
  }
}
#seats{
  display:grid;
  grid-template-rows: $set-rows;
  grid-template-columns: repeat($number-of-seats, auto [col-start]);
  grid-row-gap:$row-gap;
}
.check-parent{
  position:relative;
}
.check-box{
  align-self:center;
  background-color:#50b6bb;
  width:$seat-width;
  height:30px;
  border-radius:5px;
  cursor:pointer;
  outline:none;
  -webkit-appearance: none;
  &:hover {
    background-color:#45969b;
  }
  &:checked {
    background-color:#303740;
  }
  &:disabled {
    background-color:transparent;
    pointer-events:none;
  }
}

.popup{
  pointer-events:none;
  position:absolute;
  top:-72px;
  left:-110px;
  display:none;
  min-width:fit-content;
  width:140px;
  height:63px;
  background-color:white;
  background-color:$pop-up-color;
  color:white;
  padding:0 5px 0 5px;
  border-radius:2px;
  box-shadow:0 0 10px $pop-up-color;
}
.arrow{
  width:15px;
  height:13px;
  background-color:$pop-up-color;
  margin:5px 0 0 auto;
  clip-path:polygon(0 0, 50% 100%, 50% 100%, 100% 0)
}

 */

$set-rows: repeat(8, 30px [row-start]);
$seat-width:30px;
$number-of-seats:20;
$pop-up-color:#303740;
$row-gap:15px;

*{
  box-sizing:border-box;
}

#seats-box{
  margin:auto;
  padding:20px;
  width:fit-content;
  max-width:100vw;
  height:fit-content;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  & h1 {
    text-align:center;
    font-size:18px;
    color:#14F5EA;
  }
}

#stage {
  width:80%;
  height:40px;
  margin:10px auto 20px;
  & img {
    width:100%;
    height:100%;
    object-cover:contain;
    display:block;
  }
}


#seats{
  width:100%;
  padding-bottom:45px;
  display:grid;
  grid-template-rows: $set-rows;
  grid-template-columns: repeat($number-of-seats, auto [col-start]);
  grid-row-gap:$row-gap;
}
.check-parent{
  position:relative;
  width:fit-content;
  height:fit-content;
  display:flex;
  justify-content:center;
  align-items:center;
  &:nth-child(10n-5){
    margin-right:30px;
  }
  &:nth-child(n+101):nth-child(-n+160){
    margin-top:30px;
  }
}
.check-box{
  align-self:center;
  background-color:#414657;
  width:$seat-width;
  height:30px;
  border-radius:10px;
  cursor:pointer;
  outline:none;
  transition: 0.2s ease;
  -webkit-appearance: none;
  &:hover {
    background-color:#686e87;
  }
  &:checked {
    background-color:#14F5EA;
  }
  &:disabled {
    background-color:#262933;
    pointer-events:none;
  }
}

.popup{
  pointer-events:none;
  position:absolute;
  z-index:9999;
  top:-72px;
  left:-110px;
  display:none;
  min-width:fit-content;
  width:140px;
  height:63px;
  background-color:white;
  background-color:$pop-up-color;
  color:white;
  padding:0 5px 0 5px;
  border-radius:2px;
  box-shadow:0 0 10px $pop-up-color;
}
.arrow{
  width:15px;
  height:13px;
  background-color:$pop-up-color;
  margin:5px 0 0 auto;
  clip-path:polygon(0 0, 50% 100%, 50% 100%, 100% 0)
}

@media screen and (max-width:850px){
  #seats-box{
    padding:10px;
  }
  #stage{
    width:100%;
  }
  #seats{
    overflow:auto;
  }
  .popup{
    display:none !important;
  }
}

