$set-rows: repeat(8, 35px [row-start]);
$seats-width:900px;
$sides-width: calc((100%-$seats-width)/2);;

*{
  box-sizing:border-box;
}

#seats-box{
  display:grid;
  grid-template-columns:17vw 65vw 17vw;
}
#rows{
  display:flex;
  justify-content:flex-end;
  ul {
    height:fit-content;
    background-color:#45969b;
    margin:0 20px 0 0;
    padding:0 10px 0 10px;
    display:grid;
    grid-template-rows: $set-rows;
    li{
      list-style-type:none;
      font-size:18px;
      font-weight:600;
      color:white;
    }
  }
}
#seats{
  display:grid;
  grid-template-rows: $set-rows;
  grid-template-columns: repeat(20, auto [col-start]);
  grid
}
.check-box{
/*   position:relative;
  left:-11px;
  top:34px; */
  background-color:red;
  width:30px;
  height:30px;
  border-bottom:1px ridge green;
  border-radius:5px;
  cursor:pointer;
  outline:none;
  -webkit-appearance: none;
}