.preview-box{
  border:2px solid red;
  width:100%;
  height:400px;
  overflow-y:auto;
  ul{
    margin:0;
    padding:0;
  }
}

.preview{
  border:2px solid white;
  p, h2{
    color:white;
  }
  p{
    
  }
}