body{
  margin:0;
}
header{
  margin:0;
}
#page{
  background-color:#f2f2f2;
  height:450px;
}
#stage{
  width:1500px;
  height:80px;
  background-color:red;
  margin:auto;
}
#seats-parent{
  width:1000px;
  height:400px;
  background-color:blue;
  margin:50px auto;
 display:grid;
  grid-template-rows: repeat(16, 35px [row-start]);
  grid-template-columns: repeat(20, auto [col-start]);
  grid-column-gap:10px;
  grid-row-gap:10px;
}
.seat-label{
  /*background-color:green;*/
  
  margin-left:15px;
  width:25px;
  height:24px;
}
.check-box{
  position:relative;
  left:-13px;
  top:34px;
  background-color:transparent;
  width:35px;
  height:35px;
  border:1px solid black;
  -webkit-appearance: none;
}
.check-box:checked{
  background-color:red;
  
}
.check-box:disabled{
  background-color:yellow;
  
}
