body{
  margin:0;
  background-color:#382f60;
}
header{
  margin:0;
}
#page{
  background-color:#382f60;
  height:100vh;
}
#stage{
  width:1280px;
  height:80px;
  background-color:#485188;
  margin:auto;
}
#seats-parent{
  position:absolute;
  width:1000px;
  height:400px;
  left:50%;
  background-color:#382f60;
  margin:50px auto;
  margin-left:-500px;
 display:grid;
  grid-template-rows: repeat(16, 35px [row-start]);
  grid-template-columns: repeat(20, auto [col-start]);
  grid-column-gap:10px;
  grid-row-gap:10px;
}
#seats-rows{
  position:absolute;
  left:50%;
  top:50px;
  height:400px;
  width:50px;
  margin-left:-550px;
  padding-top:20px;
  background-color:#382f60;
}
#parent{
  position:relative;
  width:100%;
  text-align:center;
}
.reserve{
  position:absolute;
  top:500px;
  
  width:100px;
}
.seat-label{
  /*background-color:green;*/
  
  margin-left:15px;
  width:25px;
  height:24px;
}
.check-box{
  position:relative;
  left:-13px;
  top:34px;
  background-color:transparent;
  width:35px;
  height:35px;
  border:1px solid black;
  outline:none;
  -webkit-appearance: none;
}
.check-box:checked{
  background-color:white;
  
}
.check-box:disabled{
  background-color:#485188;
  
}
ul.list li{
  list-style-type:none;
  margin-left:-40px;
  margin-top:24px;
  color:white;
}